@media print {
  body {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 14pt;
    line-height: 1.45;
    font-family: Garamond, "Times New Roman", serif;
    color: #000;
    background: none;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    page-break-after: avoid;
    font-family: "Helvetica", Arial, sans-serif;
  }
  h1 {
    font-size: 36pt;
    line-height: 1.25em;
  }
  h2 {
    font-size: 24pt;
    line-height: 1.25em;
  }
  h3 {
    font-size: 18pt;
    line-height: 1.25em;
  }
  h4,
  h5,
  h6 {
    font-size: 14pt;
    line-height: 1.25em;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  code {
    font: 12pt Courier, 'Bitstream Vera Sans Mono', Consolas, Courier, monospace;
  }
  blockquote {
    margin: 1.2em;
    padding: 1em;
    font-size: 24pt;
    line-height: 1.45833333em;
    font-style: italic;
  }
  hr {
    background-color: #ccc;
  }
  img {
    float: left;
    margin: 1em 1.5em 1.5em 0;
    max-width: 100% !important;
  }
  a img {
    border: none;
  }
  a:link,
  a:visited {
    background: transparent;
    font-weight: 700;
    text-decoration: underline;
    color: #333;
  }
  a:link[href^="http://"]:after,
  a[href^="http://"]:visited:after {
    content: " (" attr(href) ") ";
    font-size: 90%;
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="http://"] {
    color: #000;
  }
  a[href$=".jpg"]:after,
  a[href$=".jpeg"]:after,
  a[href$=".gif"]:after,
  a[href$=".png"]:after {
    content: " (" attr(href) ") ";
    display: none;
  }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  table {
    margin: 1px;
    text-align: left;
  }
  th {
    border-bottom: 1px solid #333;
    font-weight: bold;
  }
  td {
    border-bottom: 1px solid #333;
  }
  th,
  td {
    padding: 4px 10px 4px 0;
  }
  tfoot {
    font-style: italic;
  }
  caption {
    background: #fff;
    margin-bottom: 2em;
    text-align: left;
  }
  thead {
    display: table-header-group;
  }
  img,
  tr {
    page-break-inside: avoid;
  }
}
