.hover-float {
  position: relative;
}
.hover-float:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 108%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0) 80%);
  background: radial-gradient(ellipse at center, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0) 80%);
}
.hover-float:hover {
  -webkit-transform: translateY(-7px);
      -ms-transform: translateY(-7px);
          transform: translateY(-7px);
}
.hover-float:hover:before {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
