.table {
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin-bottom: 18px;
  border: 1px solid #ddd;
  border-collapse: separate;
  *border-collapse: collapsed;
  border-radius: 4px;
}
.table th,
.table td {
  padding: 8px;
  line-height: 18px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.table th {
  font-weight: bold;
}
.table thead th {
  vertical-align: bottom;
}
.table thead:first-child tr th,
.table thead:first-child tr td {
  border-top: 0;
}
.table tbody + tbody {
  border-top: 2px solid #ddd;
}
.table th + th,
.table td + td,
.table th + td,
.table td + th {
  border-left: 1px solid #ddd;
}
.table thead:first-child tr:first-child th,
.table tbody:first-child tr:first-child th,
.table tbody:first-child tr:first-child td {
  border-top: 0;
}
.table thead:first-child tr:first-child th:first-child,
.table tbody:first-child tr:first-child td:first-child {
  border-radius: 4px 0 0 0;
}
.table thead:first-child tr:first-child th:last-child,
.table tbody:first-child tr:first-child td:last-child {
  border-radius: 0 4px 0 0;
}
.table thead:last-child tr:last-child th:first-child,
.table tbody:last-child tr:last-child td:first-child {
  border-radius: 0 0 0 4px;
}
.table thead:last-child tr:last-child th:last-child,
.table tbody:last-child tr:last-child td:last-child {
  border-radius: 0 0 4px 0;
}
.table tbody tr:nth-child(odd) td,
.table tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}
.table tbody tr:hover td,
.table tbody tr:hover th {
  background-color: #f5f5f5;
}
