.vertical-align {
  background-color: #eee;
  height: 150px;
  margin: 0 0 10px 0;
  width: 100%;
}
.vertical-align .inner-div {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.vertical-align .inner-div.reset {
  position: relative;
  top: 0;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
