.input {
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  border: solid 1px #bbb;
  border-radius: 0.2em;
  outline: none;
  padding: 0.45em;
  background: #fff;
  color: #555;
  width: 250px;
  text-shadow: 0 0 1px rgba(255,255,255,0.1);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.input:focus {
  box-shadow: 0 0 5px rgba(127,219,255,0.7);
  border: 1px solid #95d1e9;
  outline: none;
}
