.radio {
  cursor: pointer;
  display: block;
  line-height: 2.5em;
}
.radio [type="radio"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.radio [type="radio"] + span {
  display: block;
}
.radio [type="radio"] + span:before {
  background: rgba(0,0,0,0.15);
  border: 0.125em solid #fff;
  border-radius: 1em;
  box-shadow: 0 0 0 0.1em rgba(0,0,0,0.25);
  content: '';
  display: inline-block;
  height: 1em;
  margin-right: 0.75em;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
  vertical-align: -0.33em;
  width: 1em;
}
.radio [type="radio"]:checked + span:before,
.radio [type="radio"]:focus + span:before {
  background: #0074d9;
  box-shadow: 0 0 0 0.25em rgba(0,0,0,0.15);
}
