.button {
  font-size: 13px;
  padding: 10px 22px;
  border-radius: 3px;
  background-color: #00a6fc;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.button:hover,
.button:focus {
  background-color: #009eef;
  color: #f7f7f7;
}
.button:active {
  background-color: #0095e3;
}
