.gradient-twocolor {
  background: #d13f19;
  background: #0074d9 -webkit-linear-gradient(270deg, #d13f19, #0074d9) repeat-x;
  background: #0074d9 linear-gradient(180deg, #d13f19, #0074d9) repeat-x;
}
.gradient-onecolor {
  background: #e44921;
  background: #bc3917 -webkit-linear-gradient(270deg, #e44921, #bc3917) repeat-x;
  background: #bc3917 linear-gradient(180deg, #e44921, #bc3917) repeat-x;
}
