.image-gradient-twocolor {
  background: #d13f19;
  background: url("foo.png") repeat, #0074d9 -webkit-linear-gradient(top, #d13f19, #0074d9) repeat-x;
  background: url("foo.png") repeat, #0074d9 -moz-linear-gradient(top, #d13f19, #0074d9) repeat-x;
  background: url("foo.png") repeat, #0074d9 -o-linear-gradient(top, #d13f19, #0074d9) repeat-x;
  background: url("foo.png") repeat, #0074d9 -ms-linear-gradient(top, #d13f19, #0074d9) repeat-x;
  background: url("foo.png") repeat, #0074d9 linear-gradient(to bottom, #d13f19, #0074d9) repeat-x;
}
.image-gradient-onecolor {
  background: #e44921;
  background: url("foo.png") repeat, #bc3917 -webkit-linear-gradient(top, #e44921, #bc3917) repeat-x;
  background: url("foo.png") repeat, #bc3917 -moz-linear-gradient(top, #e44921, #bc3917) repeat-x;
  background: url("foo.png") repeat, #bc3917 -o-linear-gradient(top, #e44921, #bc3917) repeat-x;
  background: url("foo.png") repeat, #bc3917 -ms-linear-gradient(top, #e44921, #bc3917) repeat-x;
  background: url("foo.png") repeat, #bc3917 linear-gradient(to bottom, #e44921, #bc3917) repeat-x;
}
