.image-gradient-twocolor {
  background: #b44326;
  background: url("foo.png") repeat, #00a6fc -webkit-linear-gradient(top, #b44326, #00a6fc) repeat-x;
  background: url("foo.png") repeat, #00a6fc -moz-linear-gradient(top, #b44326, #00a6fc) repeat-x;
  background: url("foo.png") repeat, #00a6fc -o-linear-gradient(top, #b44326, #00a6fc) repeat-x;
  background: url("foo.png") repeat, #00a6fc -ms-linear-gradient(top, #b44326, #00a6fc) repeat-x;
  background: url("foo.png") repeat, #00a6fc linear-gradient(to bottom, #b44326, #00a6fc) repeat-x;
}
.image-gradient-onecolor {
  background: #cc4c2b;
  background: url("foo.png") repeat, #a23c22 -webkit-linear-gradient(top, #cc4c2b, #a23c22) repeat-x;
  background: url("foo.png") repeat, #a23c22 -moz-linear-gradient(top, #cc4c2b, #a23c22) repeat-x;
  background: url("foo.png") repeat, #a23c22 -o-linear-gradient(top, #cc4c2b, #a23c22) repeat-x;
  background: url("foo.png") repeat, #a23c22 -ms-linear-gradient(top, #cc4c2b, #a23c22) repeat-x;
  background: url("foo.png") repeat, #a23c22 linear-gradient(to bottom, #cc4c2b, #a23c22) repeat-x;
}
