@import '../../roots-css'
@import '../../roots-css/animation'

normalize()
base()

font-face(proxima-nova, '/fonts/proxima')

body
  padding: 50px

.button
  button()

.button-color
  button: #D9C07F

.button-small
  button: red 'small'

.button-medium
  button: green 'medium'

.button-large
  button: #7518D9 'large'

.button-custom-size
  button: black 40

.button-disabled
  button()
  button-disabled()

.simple-button
  simple-button()

.simple-color
  simple-button: red

.simple-size
  simple-button: green 20

.simple-disabled
  simple-button()
  button-disabled()

.code
  code()

.pre
  pre()

.input
  input()

.input-search
  input-search()

.input-disabled
  input()
  input-disabled()