@import '../../roots-css'
@import '../../roots-css/animation'

normalize()
base()
img-path = '/img/'

font-face(proxima-nova, '/fonts/proxima')

body
  padding: 50px

.section
  clear: both
  margin-top: 30px

// 
// buttons
// 

.button
  button()
  filter: blah

.button-color
  button: #D9C07F

.button-small
  button: red 'small'

.button-medium
  button(purple, 'medium', textColor: #fff)

.button-large
  button: #7518D9 'large'

.button-custom-size
  button: black 30

.button-disabled
  button()
  button-disabled()

.simple-button
  simple-button()

.simple-color
  simple-button: red

.simple-size
  simple-button: green 20

.simple-disabled
  simple-button()
  button-disabled()

// 
// code
// 

.code
  code()

.pre
  pre()

// 
// forms
// 

.input, .input2
  input()

.input-search
  input-search()

.input-disabled
  input()
  input-disabled()

.input-error
  input()
  input-error()

.input-warning
  input()
  input-warning()

.input-success
  input()
  input-success()

.field
  field: 300px

.field-error
  field: 300px
  field-error()

.field-warning
  field: 300px
  field-warning()

.field-success
  field: 300px
  field-success()

.label
  label()

// 
// gradients
// 

.gradients > div
  size: 300px 100px

.gradient
  background: linear-gradient(top, #D94B42, #D97F35)

.gradient-multiple-stops
  background: linear-gradient(top, #D94B42, 20% #D97F35, 40% #D9B95C, 60% #A7D952, 80% #5FD4D9, 100% #786BD9)

.gradient-mixin
  gradient: #D988D0 #7429D9

.simple-gradient
  simple-gradient: #D94734 30%

.noise-gradient
  noise-gradient: #80D9B0 #88C5D9

.simple-noise-gradient
  simple-noise-gradient: #D9CC55

// 
// grid
// 

// 
// ui
// 

.bubble
  bubble(right, width: 300px)