@import '../../roots-css'
@import '../../roots-css/animation'

normalize()
base()

font-face(proxima-nova, '/fonts/proxima')

body
  padding: 50px

.section
  clear: both
  margin-top: 30px

.button
  button()

.button-color
  button: #D9C07F

.button-small
  button: red 'small'

.button-medium
  button: green 'medium'

.button-large
  button: #7518D9 'large'

.button-custom-size
  button: black 30

.button-disabled
  button()
  button-disabled()

.simple-button
  simple-button()

.simple-color
  simple-button: red

.simple-size
  simple-button: green 20

.simple-disabled
  simple-button()
  button-disabled()

.code
  code()

.pre
  pre()

.input, .input2
  input()

.input-search
  input-search()

.input-disabled
  input()
  input-disabled()

.input-error
  input()
  input-error()

.input-warning
  input()
  input-warning()

.input-success
  input()
  input-success()

.field
  field: 300px

.field-error
  field: 300px
  field-error()

.field-warning
  field: 300px
  field-warning()

.field-success
  field: 300px
  field-success()

.label
  label()