.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
