.least
  +quantity-at-least(2)
    border: 1px solid #0099ff

.between
  +quantity-between(0, 20, div)
    border: 1px solid #ff9900

.most
  +quantity-at-most(7)
    background: #ee3355
    color: white

.exactly
  +quantity-exactly(5)
    border: 1px solid #00cc55
