.vertical-align {
  background-color: #eee;
  height: 150px;
  width: 100%;
}
.vertical-align .inner-div {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
