@import '../../roots-css'
@import '../../roots-css/animation'

normalize()
base()

font-face(proxima-nova, '/fonts/proxima')

body
  padding: 50px

p
  button()

input
  input()
  focus-glow()

.sprite
  bg: 'sprite.png'
  size: 100px 200px
  pie()

  &:hover
    sprite: 1

  &:active
    sprite: 2