@import '../../roots-css'
@import '../../roots-css/animation'

normalize()
base()

font-face(proxima-nova, '/fonts/proxima')

body
  padding: 50px

p
  box-shadow: 0 0 5px rgba(0,0,0,.5), 3px 3px 3px red
  transform: rotate(5deg)

input
  input()
  focus-glow()
