@import '../../roots-css'
@import '../../roots-css/animation'

normalize()
base()

font-face(proxima-nova, '/fonts/proxima')

body
  padding: 50px

p
  bg-retina: '/img/something.jpg' 200px 100px

input
  input()
  focus-glow()
