.link {
  color: #0074d9;
  text-decoration: none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  border-bottom: 1px solid transparent;
}
.link:hover {
  border-bottom: 1px solid;
}
.link:hover {
  color: #0063b8;
}
.link:visited {
  opacity: 0.8;
}
.reset-link {
  color: #0074d9;
  text-decoration: none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  border-bottom: 1px solid transparent;
  border: none;
  text-decoration: none;
  color: initial;
}
.reset-link:hover {
  border-bottom: 1px solid;
}
.reset-link:hover {
  color: #0063b8;
}
.reset-link:visited {
  opacity: 0.8;
}
.reset-link:hover {
  border: none;
  text-decoration: none;
  color: initial;
}
.reset-link:visited {
  opacity: 1;
}
