html {
  font-size: 16px;
  font-size: 100%;
}
body {
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  color: #555;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size-adjust: auto;
}
b {
  font-weight: bold;
}
i {
  font-style: italic;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
h1 {
  font-size: 38.4px;
  font-size: 2.4rem;
  text-rendering: optimizelegibility;
  font-weight: bold;
  margin: 0.75em 0;
  line-height: 1.6em;
}
h2 {
  font-size: 28.8px;
  font-size: 1.8rem;
  text-rendering: optimizelegibility;
  font-weight: bold;
  margin: 0.75em 0;
  line-height: 1.6em;
}
h3 {
  font-size: 24px;
  font-size: 1.5rem;
  text-rendering: optimizelegibility;
  font-weight: bold;
  margin: 0.75em 0;
  line-height: 1.6em;
}
h4 {
  font-size: 20.8px;
  font-size: 1.3rem;
  text-rendering: optimizelegibility;
  font-weight: bold;
  margin: 0.75em 0;
  line-height: 1.6em;
}
h5 {
  font-size: 16px;
  font-size: 1rem;
  text-rendering: optimizelegibility;
  font-weight: bold;
  margin: 0.75em 0;
  line-height: 1.6em;
}
h6 {
  font-size: 14.4px;
  font-size: 0.9rem;
  text-rendering: optimizelegibility;
  font-weight: bold;
  margin: 0.75em 0;
  line-height: 1.6em;
  text-transform: uppercase;
}
ul {
  margin: 5px 15px;
  margin: 0.32rem 0.94rem;
  padding-left: 1rem;
}
ul li {
  list-style-type: disc;
  padding: 2px 0;
  padding: 0.125rem;
}
ol {
  margin: 5px 18px;
  margin: 0.32rem 1.125rem;
  padding-left: 1rem;
}
ol li {
  list-style-type: decimal;
  padding: 2px 0;
  padding: 0.125rem;
}
::-moz-selection {
  background: #0074d9;
  color: #494949;
}
::selection {
  background: #0074d9;
  color: #494949;
}
p {
  font-size: 1rem;
  margin: 0.75em 0;
  line-height: 1.6em;
}
small {
  font-size: 55%;
  opacity: 0.6;
  font-weight: normal;
}
a {
  color: #0074d9;
  text-decoration: none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  border-bottom: 1px solid transparent;
}
a:hover {
  border-bottom: 1px solid;
}
a:hover {
  color: #0063b8;
}
a:visited {
  opacity: 0.8;
}
blockquote {
  border-left: 4px solid #0074d9;
  margin: 1em 0;
  padding-left: 1.5em;
}
blockquote:after {
  content: "";
  display: block;
  clear: both;
}
blockquote > p {
  font-weight: 300;
  font-size: 127%;
  font-size: 1.27rem;
  line-height: 127%;
  line-height: 1.27rem;
  margin-top: 0;
}
blockquote > cite,
blockquote > footer,
blockquote > figcaption {
  color: #888;
}
blockquote > cite:before,
blockquote > footer:before,
blockquote > figcaption:before {
  content: '\2014';
}
.hyphenation {
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  -webkit-hyphenate-before: 2;
  -webkit-hyphenate-after: 3;
  hyphenate-lines: 3;
}
input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
input[type='color'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='month'],
input[type='time'],
input[type='week'],
textarea {
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  border: solid 1px #bbb;
  border-radius: 0.2em;
  outline: none;
  padding: 0.45em;
  background: #fff;
  color: #555;
  width: 250px;
  text-shadow: 0 0 1px rgba(255,255,255,0.1);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
input[type='email']:focus,
input[type='number']:focus,
input[type='password']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='text']:focus,
input[type='url']:focus,
input[type='color']:focus,
input[type='date']:focus,
input[type='datetime']:focus,
input[type='datetime-local']:focus,
input[type='month']:focus,
input[type='time']:focus,
input[type='week']:focus,
textarea:focus {
  box-shadow: 0 0 5px rgba(127,219,255,0.7);
  border: 1px solid #95d1e9;
  outline: none;
}
input[type='email'].disabled,
input[type='number'].disabled,
input[type='password'].disabled,
input[type='search'].disabled,
input[type='tel'].disabled,
input[type='text'].disabled,
input[type='url'].disabled,
input[type='color'].disabled,
input[type='date'].disabled,
input[type='datetime'].disabled,
input[type='datetime-local'].disabled,
input[type='month'].disabled,
input[type='time'].disabled,
input[type='week'].disabled,
textarea.disabled {
  cursor: not-allowed;
  background: #f5f5f5;
}
input[type='email'].disabled:hover,
input[type='number'].disabled:hover,
input[type='password'].disabled:hover,
input[type='search'].disabled:hover,
input[type='tel'].disabled:hover,
input[type='text'].disabled:hover,
input[type='url'].disabled:hover,
input[type='color'].disabled:hover,
input[type='date'].disabled:hover,
input[type='datetime'].disabled:hover,
input[type='datetime-local'].disabled:hover,
input[type='month'].disabled:hover,
input[type='time'].disabled:hover,
input[type='week'].disabled:hover,
textarea.disabled:hover,
input[type='email'].disabled:focus,
input[type='number'].disabled:focus,
input[type='password'].disabled:focus,
input[type='search'].disabled:focus,
input[type='tel'].disabled:focus,
input[type='text'].disabled:focus,
input[type='url'].disabled:focus,
input[type='color'].disabled:focus,
input[type='date'].disabled:focus,
input[type='datetime'].disabled:focus,
input[type='datetime-local'].disabled:focus,
input[type='month'].disabled:focus,
input[type='time'].disabled:focus,
input[type='week'].disabled:focus,
textarea.disabled:focus {
  border-color: #bbb;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
}
input[type='email'].success,
input[type='number'].success,
input[type='password'].success,
input[type='search'].success,
input[type='tel'].success,
input[type='text'].success,
input[type='url'].success,
input[type='color'].success,
input[type='date'].success,
input[type='datetime'].success,
input[type='datetime-local'].success,
input[type='month'].success,
input[type='time'].success,
input[type='week'].success,
textarea.success {
  color: #2ecc40;
  border-color: #2ecc40;
}
input[type='email'].success:focus,
input[type='number'].success:focus,
input[type='password'].success:focus,
input[type='search'].success:focus,
input[type='tel'].success:focus,
input[type='text'].success:focus,
input[type='url'].success:focus,
input[type='color'].success:focus,
input[type='date'].success:focus,
input[type='datetime'].success:focus,
input[type='datetime-local'].success:focus,
input[type='month'].success:focus,
input[type='time'].success:focus,
input[type='week'].success:focus,
textarea.success:focus {
  box-shadow: 0 0 5px rgba(46,204,64,0.7);
  border: 1px solid #4ab055;
  outline: none;
}
input[type='email'].warning,
input[type='number'].warning,
input[type='password'].warning,
input[type='search'].warning,
input[type='tel'].warning,
input[type='text'].warning,
input[type='url'].warning,
input[type='color'].warning,
input[type='date'].warning,
input[type='datetime'].warning,
input[type='datetime-local'].warning,
input[type='month'].warning,
input[type='time'].warning,
input[type='week'].warning,
textarea.warning {
  color: #d9bb00;
  border-color: #ffdc00;
}
input[type='email'].warning:focus,
input[type='number'].warning:focus,
input[type='password'].warning:focus,
input[type='search'].warning:focus,
input[type='tel'].warning:focus,
input[type='text'].warning:focus,
input[type='url'].warning:focus,
input[type='color'].warning:focus,
input[type='date'].warning:focus,
input[type='datetime'].warning:focus,
input[type='datetime-local'].warning:focus,
input[type='month'].warning:focus,
input[type='time'].warning:focus,
input[type='week'].warning:focus,
textarea.warning:focus {
  box-shadow: 0 0 5px rgba(255,220,0,0.7);
  border: 1px solid #d2bc2d;
  outline: none;
}
input[type='email'].error,
input[type='number'].error,
input[type='password'].error,
input[type='search'].error,
input[type='tel'].error,
input[type='text'].error,
input[type='url'].error,
input[type='color'].error,
input[type='date'].error,
input[type='datetime'].error,
input[type='datetime-local'].error,
input[type='month'].error,
input[type='time'].error,
input[type='week'].error,
textarea.error {
  color: #d13f19;
  border-color: #d13f19;
}
input[type='email'].error:focus,
input[type='number'].error:focus,
input[type='password'].error:focus,
input[type='search'].error:focus,
input[type='tel'].error:focus,
input[type='text'].error:focus,
input[type='url'].error:focus,
input[type='color'].error:focus,
input[type='date'].error:focus,
input[type='datetime'].error:focus,
input[type='datetime-local'].error:focus,
input[type='month'].error:focus,
input[type='time'].error:focus,
input[type='week'].error:focus,
textarea.error:focus {
  box-shadow: 0 0 5px rgba(209,63,25,0.7);
  border: 1px solid #b15239;
  outline: none;
}
.btn {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  font-size: 13px;
  padding: 10px 22px;
  border-radius: 3px;
  background-color: #0074d9;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.btn:hover,
.btn:focus {
  background-color: #006ece;
  color: #f7f7f7;
  border: none;
}
.btn:active {
  background-color: #0068c3;
}
.btn-fancy {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  font-size: 13px;
  padding: 10px 22px;
  border-radius: 3px;
  background: #0084f6;
  background: #0068c3 -webkit-linear-gradient(top, #0084f6, #0068c3) repeat-x;
  background: #0068c3 linear-gradient(180deg, #0084f6, #0068c3) repeat-x;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
  border: 1px solid #0068c3;
  color: #fff;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.3);
  cursor: pointer;
  font-weight: bold;
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.btn-fancy:hover,
.btn-fancy:focus {
  background-position: 0 -10px;
  color: #f7f7f7;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}
.btn-fancy:active {
  box-shadow: inset 0 1px 5px rgba(0,87,163,0.6);
  text-shadow: 0 -1px 1px rgba(0,0,0,0.2);
  border-color: #005fb2;
}
.btn.disabled,
.btn-simple.disabled {
  background: #ccc;
  border-color: #b8b8b8;
  opacity: 0.5;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.btn.disabled:hover,
.btn-simple.disabled:hover {
  background: #ccc;
  background-position: 0 0;
}
.btn.disabled:active,
.btn-simple.disabled:active {
  background: #ccc;
  box-shadow: none;
  border-color: #b8b8b8;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}
code {
  padding: 3px 4px;
  color: #df5c33;
  background-color: #f5f5f5;
  border: 1px solid #e1e1e8;
  border-radius: 3px;
  font-family: Menlo, Monaco, 'Bitstream Vera Sans Mono', Consolas, Courier, monospace;
}
pre {
  display: block;
  padding: 7px;
  background-color: #f5f5f5;
  border: 1px solid #e1e1e8;
  border-radius: 3px;
  white-space: pre-wrap;
  word-break: break-all;
  font-family: Menlo, Monaco, 'Bitstream Vera Sans Mono', Consolas, Courier, monospace;
  line-height: 160%;
}
table {
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin-bottom: 18px;
  border: 1px solid #ddd;
  border-collapse: separate;
  *border-collapse: collapsed;
  border-radius: 4px;
}
table th,
table td {
  padding: 8px;
  line-height: 18px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
table th {
  font-weight: bold;
}
table thead th {
  vertical-align: bottom;
}
table thead:first-child tr th,
table thead:first-child tr td {
  border-top: 0;
}
table tbody + tbody {
  border-top: 2px solid #ddd;
}
table th + th,
table td + td,
table th + td,
table td + th {
  border-left: 1px solid #ddd;
}
table thead:first-child tr:first-child th,
table tbody:first-child tr:first-child th,
table tbody:first-child tr:first-child td {
  border-top: 0;
}
table thead:first-child tr:first-child th:first-child,
table tbody:first-child tr:first-child td:first-child {
  border-radius: 4px 0 0 0;
}
table thead:first-child tr:first-child th:last-child,
table tbody:first-child tr:first-child td:last-child {
  border-radius: 0 4px 0 0;
}
table thead:last-child tr:last-child th:first-child,
table tbody:last-child tr:last-child td:first-child {
  border-radius: 0 0 0 4px;
}
table thead:last-child tr:last-child th:last-child,
table tbody:last-child tr:last-child td:last-child {
  border-radius: 0 0 4px 0;
}
table tbody tr:nth-child(odd) td,
table tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}
table tbody tr:hover td,
table tbody tr:hover th {
  background-color: #f5f5f5;
}
