// Mixin: Table
// Ported directly from Twitter Bootstrap, as they did an excellent job with the tables.
// Take three fairly self-explanitory arguments, all boolean. 1st makes the table bordered,
// 2nd adds zebra striping, and the 3rd indiated whether the table is condensed or not.

// TODO: Add options to customize colors

$table(border = true, striped = true, condensed = false, rhythm = false)
  max-width: 100%
  border-collapse: collapse
  border-spacing: 0
  width: 100%
  if rhythm
    if border
      trailer(1, border: 1)
      leader(1, border: 1)
    else
      trailer(1)
      leader(1)

  else
    margin-bottom: 18px

  th, td
    if rhythm
      if condensed
        padding 4px
        padding-trailer(.25)
        if border
          leading-border(lines: .25)
        else
          padding-leader(.25)
        adjust-leading-to(.5)
      else
        padding 8px
        padding-trailer(.5)
        if border
          leading-border(lines: .5)
        else
          padding-leader(.5)
        adjust-leading-to(1)
    else
      if condensed
        padding: 4px 5px
      else
        padding: 8px
        line-height: 18px
        border-top: 1px solid
    border-color #ddd
    text-align: left
    vertical-align: top

  th
    font-weight: bold

  thead th
    vertical-align: bottom
  if border
    if not rhythm
      thead:first-child tr th
      thead:first-child tr td
        border-top: 0

  tbody + tbody
    border-top: 2px solid #ddd


  if border
    border: 1px solid #ddd
    border-collapse: separate
    *border-collapse: collapsed
    border-radius: 4px


    th + th, td + td, th + td, td + th
      border-left: 1px solid #ddd

    thead:first-child tr:first-child th
    tbody:first-child tr:first-child th
    tbody:first-child tr:first-child td
      border-top: 0

    thead:first-child tr:first-child th:first-child
    tbody:first-child tr:first-child td:first-child
      border-radius: 4px 0 0 0

    thead:first-child tr:first-child th:last-child
    tbody:first-child tr:first-child td:last-child
      border-radius: 0 4px 0 0

    thead:last-child tr:last-child th:first-child
    tbody:last-child tr:last-child td:first-child
      border-radius: 0 0 0 4px

    thead:last-child tr:last-child th:last-child
    tbody:last-child tr:last-child td:last-child
      border-radius: 0 0 4px 0
  else
    border 0

  if striped
    tbody tr:nth-child(odd) td
    tbody tr:nth-child(odd) th
      background-color: #f9f9f9

    tbody tr:hover td
    tbody tr:hover th
      background-color: #f5f5f5

// Additive Mixin: Tables
// WARNING: Creates classes in your css and styles them - not to be used inside an element.
// Makes tables look awesome by default. Highly recommended if you have tables on your site at all.

tables(border = true, striped = true, condensed = false, rhythm = false)
  table
    $table(border, striped, condensed, rhythm)
