// ------
// Vendor
// ------

// Utilities specifically intended for helping with vendor-prefixed
// css properties

// Alias: Transition
//
// Transition with an intelligent default.
//
// ex. transition()
// ex. transition: color 1s ease
// ex. transition(color 1s ease, background 2.4s linear)

transition()
  arguments = unquote('all .3s ease') unless arguments
  transition: arguments


// Alias: Border Box
// A quicker way to specify border-box sizing.

border-box()
  box-sizing: border-box

// Alises: background-appearance-x and y
//
// In case you want to use an unsupported background-position property, this
// should set you straight!

background-position-x($x)
  background-position: $x 0

background-position-y($y)
  background-position: 0 $y

// Mixin: Opentype ligatures
//
// The vast majority of fonts contain lowercase and uppercase alphabets,
// numerals, punctuation and accents. // Many professionally-designed fonts
// also contain ligatures, alternative characters, smallcaps, different kinds of
// numbers, and sometimes much more besides. This enables it.
//
// Source: http://www.newnet-soft.com/blog/csstypography
// Additional: http://blog.fontdeck.com/post/15777165734/opentype-1

open-type-ligatures()
  -moz-font-feature-settings:    "liga=1, dlig=1"
  -ms-font-feature-settings:     "liga", "dlig"
  -webkit-font-feature-settings: "liga", "dlig"
  -o-font-feature-settings:      "liga", "dlig"
  font-feature-settings:         "liga", "dlig"
