.breadcrumb {
  margin: 0;
  padding: 0;
}
.breadcrumb:after {
  content: "";
  display: block;
  clear: both;
}
.breadcrumb li {
  float: left;
  margin-right: 10px;
  list-style-type: none;
}
.breadcrumb li:last-child {
  margin-right: 0;
}
.breadcrumb li:not(:last-child):after {
  content: "/";
  margin-left: 10px;
  color: #cdcdcd;
}
