.bubble
  bubble()

.bubble-tl
  bubble: top left

.bubble-tr
  bubble: top right

.bubble-tc
  bubble: top center

.bubble-bl
  bubble: bottom left

.bubble-br
  bubble: bottom right

.bubble-bc
  bubble: bottom center

.bubble-lt
  bubble: left top

.bubble-lb
  bubble: left bottom

.bubble-lc
  bubble: left center

.bubble-rt
  bubble: right top

.bubble-rb
  bubble: right bottom

.bubble-rc
  bubble: right center
