.bubble {
  background: #efefef;
  background: #e7e7e7 -webkit-linear-gradient(270deg, #efefef, #e7e7e7) repeat-x;
  background: #e7e7e7 linear-gradient(180deg, #efefef, #e7e7e7) repeat-x;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #d6d6d6;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.05);
  position: relative;
}
.bubble:after {
  content: "";
  display: table;
  clear: both;
}
.bubble:before {
  margin-top: auto;
  margin-left: auto;
  width: 0;
  height: 0;
  border-left: 11.3px solid transparent;
  border-right: 11.3px solid transparent;
  border-top: 11.3px solid #d0d0d0;
  position: absolute;
  bottom: -11.3px;
  left: 14px;
  display: block;
}
.bubble:after {
  margin-top: auto;
  margin-left: auto;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #e7e7e7;
  position: absolute;
  bottom: -10px;
  left: 15px;
  display: block;
}
.bubble-tl {
  background: #efefef;
  background: #e7e7e7 -webkit-linear-gradient(270deg, #efefef, #e7e7e7) repeat-x;
  background: #e7e7e7 linear-gradient(180deg, #efefef, #e7e7e7) repeat-x;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #d6d6d6;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.05);
  position: relative;
}
.bubble-tl:after {
  content: "";
  display: table;
  clear: both;
}
.bubble-tl:before {
  margin-top: auto;
  margin-left: auto;
  width: 0;
  height: 0;
  border-left: 11.3px solid transparent;
  border-right: 11.3px solid transparent;
  border-bottom: 11.3px solid #d0d0d0;
  position: absolute;
  top: -11.3px;
  left: 14px;
  display: block;
}
.bubble-tl:after {
  margin-top: auto;
  margin-left: auto;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #e7e7e7;
  position: absolute;
  top: -10px;
  left: 15px;
  display: block;
}
.bubble-tr {
  background: #efefef;
  background: #e7e7e7 -webkit-linear-gradient(270deg, #efefef, #e7e7e7) repeat-x;
  background: #e7e7e7 linear-gradient(180deg, #efefef, #e7e7e7) repeat-x;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #d6d6d6;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.05);
  position: relative;
}
.bubble-tr:after {
  content: "";
  display: table;
  clear: both;
}
.bubble-tr:before {
  margin-top: auto;
  margin-left: auto;
  width: 0;
  height: 0;
  border-left: 11.3px solid transparent;
  border-right: 11.3px solid transparent;
  border-bottom: 11.3px solid #d0d0d0;
  position: absolute;
  top: -11.3px;
  right: 14px;
  display: block;
}
.bubble-tr:after {
  margin-top: auto;
  margin-left: auto;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #e7e7e7;
  position: absolute;
  top: -10px;
  right: 15px;
  display: block;
}
.bubble-tc {
  background: #efefef;
  background: #e7e7e7 -webkit-linear-gradient(270deg, #efefef, #e7e7e7) repeat-x;
  background: #e7e7e7 linear-gradient(180deg, #efefef, #e7e7e7) repeat-x;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #d6d6d6;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.05);
  position: relative;
}
.bubble-tc:after {
  content: "";
  display: table;
  clear: both;
}
.bubble-tc:before {
  margin-top: auto;
  margin-left: -10.65px;
  width: 0;
  height: 0;
  border-left: 11.3px solid transparent;
  border-right: 11.3px solid transparent;
  border-bottom: 11.3px solid #d0d0d0;
  position: absolute;
  top: -11.3px;
  left: 50%;
  display: block;
}
.bubble-tc:after {
  margin-top: auto;
  margin-left: -10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #e7e7e7;
  position: absolute;
  top: -10px;
  left: 50%;
  display: block;
}
.bubble-bl {
  background: #efefef;
  background: #e7e7e7 -webkit-linear-gradient(270deg, #efefef, #e7e7e7) repeat-x;
  background: #e7e7e7 linear-gradient(180deg, #efefef, #e7e7e7) repeat-x;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #d6d6d6;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.05);
  position: relative;
}
.bubble-bl:after {
  content: "";
  display: table;
  clear: both;
}
.bubble-bl:before {
  margin-top: auto;
  margin-left: auto;
  width: 0;
  height: 0;
  border-left: 11.3px solid transparent;
  border-right: 11.3px solid transparent;
  border-top: 11.3px solid #d0d0d0;
  position: absolute;
  bottom: -11.3px;
  left: 14px;
  display: block;
}
.bubble-bl:after {
  margin-top: auto;
  margin-left: auto;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #e7e7e7;
  position: absolute;
  bottom: -10px;
  left: 15px;
  display: block;
}
.bubble-br {
  background: #efefef;
  background: #e7e7e7 -webkit-linear-gradient(270deg, #efefef, #e7e7e7) repeat-x;
  background: #e7e7e7 linear-gradient(180deg, #efefef, #e7e7e7) repeat-x;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #d6d6d6;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.05);
  position: relative;
}
.bubble-br:after {
  content: "";
  display: table;
  clear: both;
}
.bubble-br:before {
  margin-top: auto;
  margin-left: auto;
  width: 0;
  height: 0;
  border-left: 11.3px solid transparent;
  border-right: 11.3px solid transparent;
  border-top: 11.3px solid #d0d0d0;
  position: absolute;
  bottom: -11.3px;
  right: 14px;
  display: block;
}
.bubble-br:after {
  margin-top: auto;
  margin-left: auto;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #e7e7e7;
  position: absolute;
  bottom: -10px;
  right: 15px;
  display: block;
}
.bubble-bc {
  background: #efefef;
  background: #e7e7e7 -webkit-linear-gradient(270deg, #efefef, #e7e7e7) repeat-x;
  background: #e7e7e7 linear-gradient(180deg, #efefef, #e7e7e7) repeat-x;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #d6d6d6;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.05);
  position: relative;
}
.bubble-bc:after {
  content: "";
  display: table;
  clear: both;
}
.bubble-bc:before {
  margin-top: auto;
  margin-left: -10.65px;
  width: 0;
  height: 0;
  border-left: 11.3px solid transparent;
  border-right: 11.3px solid transparent;
  border-top: 11.3px solid #d0d0d0;
  position: absolute;
  bottom: -11.3px;
  left: 50%;
  display: block;
}
.bubble-bc:after {
  margin-top: auto;
  margin-left: -10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #e7e7e7;
  position: absolute;
  bottom: -10px;
  left: 50%;
  display: block;
}
.bubble-lt {
  background: #efefef;
  background: #e7e7e7 -webkit-linear-gradient(270deg, #efefef, #e7e7e7) repeat-x;
  background: #e7e7e7 linear-gradient(180deg, #efefef, #e7e7e7) repeat-x;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #d6d6d6;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.05);
  position: relative;
}
.bubble-lt:after {
  content: "";
  display: table;
  clear: both;
}
.bubble-lt:before {
  margin-top: auto;
  margin-left: auto;
  width: 0;
  height: 0;
  border-top: 11.3px solid transparent;
  border-bottom: 11.3px solid transparent;
  border-right: 11.3px solid #d0d0d0;
  position: absolute;
  top: 14px;
  left: -11.3px;
  display: block;
}
.bubble-lt:after {
  margin-top: auto;
  margin-left: auto;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #e7e7e7;
  position: absolute;
  top: 15px;
  left: -10px;
  display: block;
}
.bubble-lb {
  background: #efefef;
  background: #e7e7e7 -webkit-linear-gradient(270deg, #efefef, #e7e7e7) repeat-x;
  background: #e7e7e7 linear-gradient(180deg, #efefef, #e7e7e7) repeat-x;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #d6d6d6;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.05);
  position: relative;
}
.bubble-lb:after {
  content: "";
  display: table;
  clear: both;
}
.bubble-lb:before {
  margin-top: auto;
  margin-left: auto;
  width: 0;
  height: 0;
  border-top: 11.3px solid transparent;
  border-bottom: 11.3px solid transparent;
  border-right: 11.3px solid #d0d0d0;
  position: absolute;
  bottom: 14px;
  left: -11.3px;
  display: block;
}
.bubble-lb:after {
  margin-top: auto;
  margin-left: auto;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #e7e7e7;
  position: absolute;
  bottom: 15px;
  left: -10px;
  display: block;
}
.bubble-lc {
  background: #efefef;
  background: #e7e7e7 -webkit-linear-gradient(270deg, #efefef, #e7e7e7) repeat-x;
  background: #e7e7e7 linear-gradient(180deg, #efefef, #e7e7e7) repeat-x;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #d6d6d6;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.05);
  position: relative;
}
.bubble-lc:after {
  content: "";
  display: table;
  clear: both;
}
.bubble-lc:before {
  margin-top: -5.65px;
  margin-left: auto;
  width: 0;
  height: 0;
  border-top: 11.3px solid transparent;
  border-bottom: 11.3px solid transparent;
  border-right: 11.3px solid #d0d0d0;
  position: absolute;
  top: 50%;
  left: -11.3px;
  display: block;
}
.bubble-lc:after {
  margin-top: -5px;
  margin-left: auto;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #e7e7e7;
  position: absolute;
  top: 50%;
  left: -10px;
  display: block;
}
.bubble-rt {
  background: #efefef;
  background: #e7e7e7 -webkit-linear-gradient(270deg, #efefef, #e7e7e7) repeat-x;
  background: #e7e7e7 linear-gradient(180deg, #efefef, #e7e7e7) repeat-x;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #d6d6d6;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.05);
  position: relative;
}
.bubble-rt:after {
  content: "";
  display: table;
  clear: both;
}
.bubble-rt:before {
  margin-top: auto;
  margin-left: auto;
  width: 0;
  height: 0;
  border-top: 11.3px solid transparent;
  border-bottom: 11.3px solid transparent;
  border-left: 11.3px solid #d0d0d0;
  position: absolute;
  top: 14px;
  right: -11.3px;
  display: block;
}
.bubble-rt:after {
  margin-top: auto;
  margin-left: auto;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #e7e7e7;
  position: absolute;
  top: 15px;
  right: -10px;
  display: block;
}
.bubble-rb {
  background: #efefef;
  background: #e7e7e7 -webkit-linear-gradient(270deg, #efefef, #e7e7e7) repeat-x;
  background: #e7e7e7 linear-gradient(180deg, #efefef, #e7e7e7) repeat-x;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #d6d6d6;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.05);
  position: relative;
}
.bubble-rb:after {
  content: "";
  display: table;
  clear: both;
}
.bubble-rb:before {
  margin-top: auto;
  margin-left: auto;
  width: 0;
  height: 0;
  border-top: 11.3px solid transparent;
  border-bottom: 11.3px solid transparent;
  border-left: 11.3px solid #d0d0d0;
  position: absolute;
  bottom: 14px;
  right: -11.3px;
  display: block;
}
.bubble-rb:after {
  margin-top: auto;
  margin-left: auto;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #e7e7e7;
  position: absolute;
  bottom: 15px;
  right: -10px;
  display: block;
}
.bubble-rc {
  background: #efefef;
  background: #e7e7e7 -webkit-linear-gradient(270deg, #efefef, #e7e7e7) repeat-x;
  background: #e7e7e7 linear-gradient(180deg, #efefef, #e7e7e7) repeat-x;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #d6d6d6;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.05);
  position: relative;
}
.bubble-rc:after {
  content: "";
  display: table;
  clear: both;
}
.bubble-rc:before {
  margin-top: -5.65px;
  margin-left: auto;
  width: 0;
  height: 0;
  border-top: 11.3px solid transparent;
  border-bottom: 11.3px solid transparent;
  border-left: 11.3px solid #d0d0d0;
  position: absolute;
  top: 50%;
  right: -11.3px;
  display: block;
}
.bubble-rc:after {
  margin-top: -5px;
  margin-left: auto;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #e7e7e7;
  position: absolute;
  top: 50%;
  right: -10px;
  display: block;
}
