.flash-notice {
  background: #70c7fa;
  background: #62c1fa -webkit-linear-gradient(top, #70c7fa, #62c1fa) repeat-x;
  background: #62c1fa linear-gradient(180deg, #70c7fa, #62c1fa) repeat-x;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #49b7f9;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.05);
  position: relative;
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}
.flash-notice:after {
  content: "";
  display: block;
  clear: both;
}
.flash-warning {
  background: #fae77b;
  background: #fae46c -webkit-linear-gradient(top, #fae77b, #fae46c) repeat-x;
  background: #fae46c linear-gradient(180deg, #fae77b, #fae46c) repeat-x;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #f9df53;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.05);
  position: relative;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.2);
}
.flash-warning:after {
  content: "";
  display: block;
  clear: both;
}
.flash-error {
  background: #e88074;
  background: #e67467 -webkit-linear-gradient(top, #e88074, #e67467) repeat-x;
  background: #e67467 linear-gradient(180deg, #e88074, #e67467) repeat-x;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #e26153;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.05);
  position: relative;
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}
.flash-error:after {
  content: "";
  display: block;
  clear: both;
}
.flash-success {
  background: #7fdfa6;
  background: #73dc9d -webkit-linear-gradient(top, #7fdfa6, #73dc9d) repeat-x;
  background: #73dc9d linear-gradient(180deg, #7fdfa6, #73dc9d) repeat-x;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #5fd790;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.05);
  position: relative;
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}
.flash-success:after {
  content: "";
  display: block;
  clear: both;
}
