.notice {
  background: #efefef;
  background: #e7e7e7 -webkit-linear-gradient(top, #efefef, #e7e7e7) repeat-x;
  background: #e7e7e7 linear-gradient(180deg, #efefef, #e7e7e7) repeat-x;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #d6d6d6;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.05);
  position: relative;
}
.notice:after {
  content: "";
  display: block;
  clear: both;
}
