.range {
  -webkit-appearance: none;
  width: 100%;
  margin: 0;
  outline: none;
  background: transparent;
}
.range::-webkit-slider-runnable-track {
  background: rgba(0,0,0,0.1);
  border: none;
  border-radius: 0.5em;
  height: 0.5em;
  width: 100%;
}
.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 2em;
  width: 2em;
  border-radius: 50%;
  background: #0074d9;
  margin-top: calc(-2em / 2 + 0.5em / 2);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.range::-webkit-slider-thumb:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  cursor: pointer;
}
.range::-webkit-slider-thumb:active {
  background: #0063b8;
}
.range:focus {
  outline: none;
}
.range:focus::-webkit-slider-runnable-track {
  background: rgba(0,0,0,0.1);
}
.range::-moz-range-track {
  width: 100%;
  height: 0.5em;
  background: rgba(0,0,0,0.1);
  border: none;
  border-radius: 0.5em;
}
.range::-moz-range-thumb {
  border: none;
  height: 2em;
  width: 2em;
  border-radius: 50%;
  background: #0074d9;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.range::-moz-range-thumb:hover {
  transform: scale(1.2);
}
.range::-moz-range-thumb:active {
  background: #0063b8;
}
.range::-moz-focus-outer {
  border: 0;
}
.range::-ms-track {
  height: 0.5em;
  width: 100%;
  background: transparent;
  border-width: calc(2em / 2 + 0.5em / 2) 0;
  color: transparent;
}
.range::-ms-fill-lower,
.range::-ms-fill-upper,
.range:focus::-ms-fill-lower,
.range:focus::-ms-fill-upper {
  background: rgba(0,0,0,0.1);
  border-radius: 10px;
}
.range::-ms-thumb {
  border: none;
  height: 2em;
  width: 2em;
  border-radius: 50%;
  background: #0074d9;
}
.range::-ms-thumb:active {
  background: #0063b8;
}
.range::-ms-tooltip {
  display: none;
}
